.logo img {
  width: 100%;
}


.tglbtn {
  background-color: #E35F21;
}

.switch6 {
  max-width: 17em;
  margin: 0 auto;
}

.switch6-light {
  display: block;
  height: 30px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
  background-color: black;
  border-radius: 20px;
}

.switch6-light a {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.switch6-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.switch6-light input:checked~a {
  right: 0%;
}

.switch6-light>span {
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0px;
  padding-right: 100px;
  text-align: left;
}

.switch6-light>span span {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
  color: white;
}

.switch6-light>span span:last-child {
  left: 50%;
}

.switch6-light a {
  position: absolute;
  right: 50%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.DelPick {
  padding: 29px;
}

.searchHeader {
  align-items: center;
  display: flex;
}

/* navbar */
.custom-nav {
  border-radius: 30px;
}

.myli {
  display: inline;
  margin-inline: 20px;
  padding-top: 10px;

}

.menu-item {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

.pd-10 {
  display: flex;
  align-items: center;
}

/* navbar */